.responderSection, .survivorDiv  {
  display: none;
}

.col-sm-3 {
  border-left: 1px solid #c2c2d6;
  border-right: 1px solid #c2c2d6;
}

.neighborhoods h3 {
  text-align: center;
}

.survivorFocus {
  border: 1px solid #c2c2d6;
}

.center {
  text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.help {
  font-size: 2.8em;
  font-weight: bolder;
}

.survivorText {
  background-color: #58FA82;
  border: 1px solid #c2c2d6;
  border-radius: 5px;
}

.confirmSurvivor {
  display: none;
}

.boxy {
  background-color: #ccffff;
  padding-bottom: 300px;
}

#showSurvivor {
  display: none;
}

.inProgress {
  color: green;
  font-style: italic;
}

li {
  font-weight: bold;
  color: #c31d1d;
}

.inList {
  padding: 1px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 8px;
  margin-bottom: 6px;
}
