.col-sm-3 {
  border-left: 1px solid #c2c2d6;
  border-right: 1px solid #c2c2d6;
}

.neighborhoods h3 {
  text-align: center;
}

.survivorFocus {
  border: 1px solid #c2c2d6;
}

#showSurvivor {
  display: none;
}
